<div>
  <h1 class="theme">2030 Sustainable Development Goals - Education</h1>
  <div class="images">
    <img src="/images/Mentorship.jpg" alt="" />
    <img src="/images/mentoring.jpg" alt="" />
  </div>
  <div class="about-container">
    <h1>The Problem</h1>
    <div class="paragraph-about">
      I saw that numerous people around me had a keen interest in widening their
      knowledge and learning about new things. However, not many resources were
      available. There were books and articles that one could read but one could
      rarely find an easy to use and easy to navigate tool to fulfill theor
      need. Some students found it difficult to understand the complex and
      technical terminologies used in most of the resources. On the other hand,
      some students faced difficulties in finding reasonable resources to learn
      and study the subjects they relished. Therefore, I felt, it was the need
      of the hour to develop a product that would combat both this problem.
    </div>
  </div>
  <div class="about-container">
    <h1>The Solution</h1>
    <div class="paragraph-about">
      3E - Elevate Excel Educate, is a Web-based platform-cum-application that
      functions as a knowledge building tool that is easy to navigate and
      accessible. Especially for beginners, it provides a learning base and a
      forum to interact with each other. It provides a platform where mentors
      can post content for students to learn from. Also, it enables the mentors
      to build upon their knowledge by sharing it with others. The application
      can be used on different devices including mobile phones, tablets, laptops
      and desktops. All you need is a web browser installed on your device. This
      makes the application accessible to most of the people. The aim of the
      application is to provide reasonable and quality education to everyone who
      is willing to study. It also aims to reduce the disparities in education
      in turn leading to accomplishment of the Sustainable Development Goal of
      Education.
    </div>
  </div>
</div>
