<div>
  <h1>Profile</h1>
  <div>
    <h2>Name</h2>
    <%= user.name %>
  </div>

  <div>
    <h2>Email</h2>
    <%= user.email %>
  </div>

  <div>
    <h2>Role</h2>
    <%= user.role%>
  </div>

  <div>
    <h2>subject(s)</h2>
    <div></div>
  </div>

  <a href="/updateprofile" class="updateprofile">UPDATE</a>
</div>
<div></div>
