footer {
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > pre {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > pre > * {
  font-family: "Hurricane", cursive;
  font-size: 40px;
}
